<!doctype html>
<html lang="en" ng-app="consoleApp">
<head>
    <meta charset="utf-8">
    <title>Console App!</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script src="public/js/angular.min.js"></script>
    <script src="public/js/ace/ace.js"></script>
    <script src="public/js/directives.js"></script>
    <script src="public/js/controllers.js"></script>


</head>
<body ng-controller="ScriptListCtrl">
    <div id="main">
        <div id="top-panel">
            <input type="button" value="Execute" ng-click="execute()"></button>
            <input type="button" value="Save" ng-click="save()"></button>
            <div id="notify" style="float: right;"></div>
        </div>
        <div id="tab-head-panel">
            <ul id="tabs" ng-dblclick="newScriptWithTab()">
                <li ng-dblclick="editName($event)" ng-repeat="tab in tabs" ng-click="selectTab(tab)" ng-class="{active:activeTab === tab}" class="tab-head">
                    <div class="text" console-bindable ng-model="tab.script.name">{{tab.script.name}}</div>
                    <div class="close-tab-btn" ng-click="removeTab(tab)"></div>
                </li>
            </ul>
        </div>
        <div id="tab-head-base"></div>
        <div id="border-wrap">
            <div id="edit-table">
                <div class="row">
                    <div ng-repeat="tab in tabs" ng-model="tab.script.code" ui-ace="{ mode: 'php', theme: 'dreamweaver', showPrintMargin: false }" ng-class="{active:activeTab === tab}" class="editor">
                        {{tab.script.code}}
                    </div>
                    <div id="edit-h-split"></div>
                    <div id="script-list">
                        <ul>
                            <li ng-repeat="script in scripts" ng-click="openScript(script)">{{script.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="result">
            <div id="exec-params">
                <span id="mem">113Kb</span>
                &nbsp;<span style="color: #bbb;">|</span>&nbsp;
                <span id="time">0.018982sec</span>
            </div>
            <div id="output"></div>
        </div>
    </div>
</body>
</html>