<div class="tab-head">
    {{ form_widget(prototype.name) }}      
    <div class="tab-text" spellcheck="false">{{ '__text__' }}</div>                    
    <div class="close-tab-btn"></div>
</div>
