#main {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0 auto 40px;
    width: 90%;
    padding: 50px 0px 20px 1px;
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #aaa;
    border-radius: 0 0 5px 5px;
}
#top-panel {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background-color: #eee;
    width: 100%;
    z-index: 10;

    background-color: #eee;
    /*box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);*/
    border: 1px solid #aaa;
}
#top-head-panel>input[type="button"] {
    height: 25px;
}
#top-panel input,
#top-panel img {
    vertical-align: middle;
}
#top-panel .notify {
    padding: 0 10px;
    font-size: 13px;
}
#top-panel .notify.error {
    color: #E40B0B;
}
#top-panel .notify.success {
    color: #07b22a;
}
#notify-wrap {
    display: inline-block;
}
.fade.ng-enter {
    transition:0.1s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
.fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}
#tabs {
    list-style: none;
    margin: 0;
    padding: 0 7px;
}
#tabs>li {
    display: inline-block;
}
.tab-head {
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 3px 25px 0 12px;
    margin-top: 10px;
    background-color: #ccc;
    border: outset 1px #fff;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    cursor: pointer;
    background: -moz-linear-gradient(bottom, #ccc, #ddd); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(bottom, #ccc, #ddd);
    background: -o-linear-gradient(bottom, #ccc, #ddd); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #ccc, #ddd); /* IE10 */
    background: linear-gradient(bottom, #ccc, #ddd);
}
.tab-head.active {
    margin-bottom: -1px;
    border-bottom: none;
    height: 21px;
    background: -moz-linear-gradient(bottom, #eee, #f7f7f7); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(bottom, #eee, #f7f7f7);
    background: -o-linear-gradient(bottom, #eee, #f7f7f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #eee, #f7f7f7); /* IE10 */
    background: linear-gradient(bottom, #eee, #f7f7f7); /* CSS3 */
}
.tab-head .text:focus {
    border: 2px inset #fff;
    background-color: #fff;
}
.close-tab-btn {
    width: 14px;
    height: 15px;
    background: url("/public/img/close-button.png") 0px 0px;
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 2px;
}
.close-tab-btn:hover{
    background-position: -15px 0;
}
.close-tab-btn:active{
    background-position: -30px 0;
}
#tab-head-base {
    height: 7px;
    border-top: 1px solid #fff;
    clear: both;
}
#border-wrap {
    border-bottom: 1px outset #eee;
    padding: 0 5px 7px;
    height: 250px;
}
.v-resizer {
    height: 7px;
    cursor: ns-resize;
}
#edit-table {
    display: table;
    width: 100%;
    height: 100%;
}
.row {
    display: table-row;
}
.row>div {
    vertical-align: top;
}
.editor {
    display: none;
    table-layout: fixed;
    border: 2px inset #fff;
}
.editor.active {
    display: table-cell;
}
#edit-h-split {
    display: table-cell;
    width: 7px;
}
#script-list {
    display: table-cell;
    width: 200px;
    background-color: #fff;
    border: 2px inset #fff;
}
#list-control {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    line-height: 11px;
    padding: 0 6px 3px;
    text-align: right;
}
#list-control>span {
    font-size: 11.5px;
    text-decoration: underline;
    color:#0082C9;
    cursor: pointer;
}
#script-list>ul {
    list-style: none;
    margin: 0;
    padding: 1px;
    font-size: 13px;
}
#script-list>ul>li {
    padding: 2px 25px 1px 5px;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
}
#script-list>ul>li:hover {
    background-color: #f0f5f5;
}
#script-list>ul>li.active {
    background-color: #fffcb5;
}
#script-list>ul>li>input[type=checkbox] {
    position: absolute;
    right: 3px;
    top: 0;
}
#result{
    margin: 20px 0 5px;
    font-size: 14px;
    color: #444;
}
#exec-params{
    padding: 0 0 0 8px;
    margin: 3px 0 3px;
    font-size: 11px;
    float: left;
    display: inline-block;
}
.hr:before {
    content: '|';
}
.hr {
    color: #bbb;
    vertical-align: top;
}
.clear {
    clear: both;
}
#settings {
    margin-top: -3px;
    padding: 0 8px 0 0;
    font-size: 11px;
    float: right;
    display: inline-block;
}
#settings>* {
    vertical-align: middle;
}
#output{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #fff;
    padding: 10px;
}
.ace_editor {
    font-size: 14px !important;
}
