*{
    margin:0;
    padding: 0;
}
html{ 
    font-family: "Trebuchet MS";
    font-size: 13px;
}
.hidden{
    display: none;
}
div#main{
    margin: 0 30px;
    padding: 0 5px 20px 1px;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #aaa;
    border-radius: 0 0 5px 5px;
}
div#main .CodeMirror{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    border: 1px inset #FAFAFA;
    width: auto;
    cursor: default;
    height: 300px;
    font-size: 12px;
    /*line-height: 2em;*/
    font-weight: normal;
    font-family: "Courier New"
}
.CodeMirror *{
    font-size: 12px;
}
.panel{
    padding: 17px 0 10px 15px;
}
.panel .label{
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px dotted rgb(120, 100, 120);
}
.editor{
    display: table;
    width: 100%;
}
.cm-hold{
    display: table-cell;
    padding: 0 0 0 7px;
}
.hr-resize{
    display: table-cell;
    width: 6px;
    cursor: ew-resize;
}
.saved{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) inset;
    border: 1px inset #FAFAFA;
    display: table-cell;
    width: 230px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}
.editor .saved ul{
    list-style: none;
}
.editor .saved ul>li{
    color: #777;
    padding: 0 10px;
    cursor: pointer;
    padding: 0 7px 4px;
}
.editor .saved ul>li:hover{
    background-color: rgb(77, 61, 77);
    color: #bab;
}
ul>li .sc-name{
    padding: 5px 10px 2px;
    font-weight: bold;
}
.sc-name-edit{
    color: #111 !important;
    background-color: #fff !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid #999;
}
.v-resize{
    height: 7px;
    cursor: ns-resize;
    margin: 0 -5px 0 -1px;
    border-bottom: 1px outset #fafafa;
}
#result{
    margin: 0 -5px 0 -1px;
}
#exec-params{
    padding: 20px 0 5px 8px;
    color: #444;
    font-size: 11px;
}
#output{
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #fff;
    padding: 10px;
}
.ln-hr-split{
    border-left: 1px solid #777;
}
#tab-h-hold
{
    border-top: 1px solid #ccc;
    margin: 0 -5px 0 -1px;
}
#tab-h-hold .wrap{
    border-top: 1px solid #fafafa;
}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab-base{
    height: 7px;
    border-top: 1px solid #fff;
    clear: both;
}
.tab-text.edit{
    color: #111;
    background-color: #fff;
    border: 2px inset #ff8500;
    display: inline-block;
    padding: 0 5px;
    cursor: text;
}
.tab-head.selected{
    margin-bottom: -1px;
    border-bottom: none;
    height: 21px;
    
    background: -moz-linear-gradient(bottom, #eee, #f7f7f7); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(bottom, #eee, #f7f7f7);
    background: -o-linear-gradient(bottom, #eee, #f7f7f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #eee, #f7f7f7); /* IE10 */
    background: linear-gradient(bottom, #eee, #f7f7f7); /* CSS3 */
}
.tab-head{
    position: relative;
    display: inline-block;  
    height: 20px;
    padding: 3px 25px 0 12px;
    margin-top: 10px;
    margin-right: 4px;
    background-color: #ccc;
    border: outset 1px #fff;
    border-bottom: none;
    border-radius: 5px 5px 0 0;			
    font-size: 12px;
    cursor: pointer;
    
    background: -moz-linear-gradient(bottom, #ccc, #ddd); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(bottom, #ccc, #ddd);
    background: -o-linear-gradient(bottom, #ccc, #ddd); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #ccc, #ddd); /* IE10 */
    background: linear-gradient(bottom, #ccc, #ddd);
}
.tab-head:first-child{
    margin-left: 7px;
}
.close-tab-btn{
    width: 14px;
    height: 15px;
    background-image: url("/img/close-button.png");
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 2px;
    background-position: 0 0;
}
.close-tab-btn:hover{
    background-position: -15px 0;
}
.close-tab-btn:active{
    background-position: -30px 0;
}
.tab-body{
    display: none;
}
.tab-body.selected{
    display: block;
}
